

body{ 
   /* font-family: 'Times New Roman', Times, serif; */
    font-family: Arial;
    box-sizing: border-box;
    background: #5FA9D2;
    margin:0;
    color:white;
}
.current_date_time{
    position: absolute;
    top: 65px;
    font-size: 20px;
   /* background-color: #00b5c2;*/
    color: white;
    min-height: 50px;
    min-width: 400px;
    text-align: center;
    right: 0;
}

.user_no_pic{
    width:20px;
    height: 20px;
}

.log{
     border: 2px solid #000000; 
     border-radius: 20px;
     width: 20vw;
     text-align: center;
     font-size: 30px;
     text-decoration: none;
     list-style: none;
     color:white;
     background-image: url(../img/user_no_pic1.png);
     background-position: right;
     background-size: contain;
     background-repeat: no-repeat;
     
}

.log_box_main{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-top: 2%; */
}

.log_out{
    color:white;
    padding-top: 2%;
}

.footer_logo{
    height: 100px;
}


.header_button{
    color:white;
    text-decoration: none;
    font-size: 60px;
    font-weight: 300;
    color: white;
    vertical-align: middle;
    text-align: center;

}

.log:hover{
    text-decoration: underline;
}

.header_tool ul{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    background: #5066B4;
    margin: 0; 
}
.header_tool ul li a:hover{
    text-decoration: underline;
    line-height: 5px;
}

.header_tool ul li{
    background: none;

}


.main_content {
    /*width: 900px;*/
    padding-right: 32px;
    /* float: left; */
    width: 80% ;
    max-width: 550px;
    /*padding-right: 0 !important;*/
    /* font-size: 16px; */
    padding-left: 32px;
    /* padding-bottom: 140px;
    margin-bottom: 5%; */
}

.main_pictur{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
    margin-top: 4%;
    object-fit: cover;
    object-position: bottom;
    display: block;
    object-fit: fill;
}

.intro{
    background: #5066B4;
    /* border: 2px solid #000000; */
    font-size: 35px;
    padding: 5vw 10vw;
    margin-top: 4%;
    overflow-wrap: break-word;

}

.spring_head{
    background: #5066B4;
    /* border: 2px solid #000000; */
    font-size: 35px;
    padding: 1vw 1vw;
    margin-top: 2%;
    text-align: center;

}

/* Springs.php */

.springs_container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top:5%;
    padding-bottom: 15%;
    max-width: 1200px;
}

.springs_box_left{
    
    margin-bottom: 2%;
}
.springs_box1{
    width:100%;
    background: #5066B4;
    padding: 1vw 2vw;
    /* border: 2px solid #000000;  */
    border-radius: 20px;
    margin-bottom: 2%;
}

.springs_search{
    /* width:100%; */
    background: #5066B4;
    padding: 1vw 2vw;
    /* border: 2px solid #000000;  */
    border-radius: 20px;
    margin-bottom: 2%;
}

.spring_name{
    color:white;
    font-size: 30px;
    width: 97%;
}
.spring_name::placeholder{
    color:white;
    font-size: 30px;
}

.springs_box2{
    width:100%;
}

.springs_head {
    font-size: 50px;
}

.search_button{
    margin-top:5%;
    /* height: 200px; */
    font-size: 50px;
    /* border: 2px solid #000000;  */
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
}


.spring_title_map{
    text-align: center;
    font-size: 20px;
}

.spring_title_map:hover{
    text-decoration: underline;
}


.spring_title_map:visited{
    text:black;
}

.spring_pagination{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    color:white;
    justify-content: space-around;
    flex-direction: row;
    /* width: 100%; */
    height: auto;
    margin: 0; 
    /* width:100%; */
    font-size: 25px;
    background: #5066B4;
    padding: 1vw 2vw;
    /* border: 2px solid #000000;  */
    border-radius: 20px;
    margin-bottom: 2%;
}
.spring_pagination a{
    color:white;
}

.disabled a{
    color:gray;
}

.spring_tab{
    font-size:30px;
}

.spring_tab a {
    color:white;
    text-decoration: none; 
    text-align: center;
    font-size:30px;
}

.comment_block{
    /* background-color: #8B95B8; */
    background: #5066B4;

    height: auto;
    margin-top: 5%;
}

.comment_box{
    display: flex;
    flex-direction: column;
    padding: 3vw 5vw;
    justify-content: space-between;
    align-items: center;
}

.comment_text{
    width: 80%;
    resize:none;
    font-size: 35px;
}
.comment_text_blocked{
    color:red;
    width: 80%;
    resize:none;
    font-size: 35px;
}
.comment_send{
    width: 50%;
    margin-top: 1%;
    /* height: 200px; */
    background-color: rgba(255,255,255,0.07);
    color:white;
    /* height: 60%; */
    font-size: 35px;
    border: 2px solid #000000;
    border-radius: 20px;
    cursor: pointer;
}

.user_comments{
    display: flex;
    flex-direction: row;
    padding: 5vw 5vw;
    height: 250px;
}

.user_left{
    display:flex;
    flex-direction: column;
    width: 20%;
}

.user_pic{
    height: 90%;
    padding: 1vw 1vw;

}
.user_comment_name{
    text-align: center;
    font-size: 23px;
}
.user_comment_date{
    height: 10%;
    border-radius: 20px;
    text-align: center;
    font-size: 23px;
}

.user_text{
    width: 80%;
    background-color: white;
    color:black;
    font-size: 30px;
    padding: 1vw 1vw;

}



.slideshow-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 80%;
    height: 500px;
    margin-top: 4%;
    object-fit: cover;
    object-position: bottom;
    /* display: block; */
    object-fit: fill;

    
  }
  

  .slide_pictur{
    /* margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    width: 80%;
    height: 500px;
    object-fit: cover;
    object-position: bottom;
    display: block;
    object-fit: fill; */
    /* margin-left: 5%; */ 
    /* margin-right: 5%; */
    margin-bottom: 2%;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: bottom;
    display: block;
    object-fit: fill;
}

.holdit{
    display: flex;
    flex-direction: row;
    list-style:none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
  /* Hide the images by default */
  .mySlides {
      display: none;
  }
.prev, .next {
    cursor: pointer;
    list-style: none;
    /* position: absolute; */
    /* top: 50%; */
    width: 5%;
    margin-top:30%;
    /* width: auto; */
     /* margin-top: -22px;  */
    padding: 16px; 
    text-align:center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

.middle{
    width: 90%;
}


  .next {
    right: 20%;
    border-radius: 3px 0 0 3px;
  }

  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



.admin-sidebar{
    border-width: 2px;
    border-right: white;
    border-right: solid;
    width: 20%;

}
  
.admin-bar-menu {
    /* width: 100%; */
    display: block;
    text-align: center;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    color:white;
    width: 100%;
    font-size: 38px;
}

.admin-bar-item {
    /* width: 100%; */
    display: block;
    padding: 8px 16px;
    text-align: center;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    color:black;
    width: 100%;
    cursor:pointer;
    background-color: buttonface;


}

.admin-bar-item:hover{
    text-decoration: underline;
}

.container_admin {
    /* max-width: 1300px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #5066B4;
    min-height: 600px;
    padding: 5vw 3vw;
    /* padding-bottom: 5px; */
}


.container {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 15%;
    max-width: 1200px;
    margin-top:2%;
    /* display: flex;
    justify-content: space-between;
    background-color: #5066B4; */
    /* padding-bottom: 5px; */
}



.menu_button{
    color:white;
    text-decoration: none;
    font-size: 35px;
    font-weight: 300;
    vertical-align: middle;
    text-align: center;

}
.menu_button:hover{
    text-decoration: underline;
    line-height: 5px;
}

.menu_button{
    background: none;

}

.user_pic_acc {
    /* height: 300px;
    width: 400px; */
    height: 250px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: bottom;
    display: block;
    object-fit: fill;
    
}

.user_info{
    font-size: 30px;
}



/*adding spring*/
.description{
    align-items: center;
}

.user_input{
    display: block;
    color:white;
    height: 60px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 30px;
    font-weight: 300;
    border: 2px solid #000000; 
    border-radius: 20px;
}
form.hide-submit input[type="submit"] { display: none;}

.comment_right{
    margin-top:50%;
}


.drinking_how{
    background: #5066B4;
    /* border: 2px solid #000000; */
    font-size: 30px;
    padding: 1vw 1vw;
    margin-top: 4%;
}

.select_drink{
    display: block;
    color:red;
    height: 60px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 30px;
    font-weight: 300;
    border: 2px solid #000000; 
    border-radius: 20px;
    text-align: center;
}

.choose_image{
    font-size: 28px;
}


.description{
    resize: none;
}

.map_add_spring{
    width: 100%; 
    height:400px
}

.add_spring_label_box_labels{
    height: auto;
    font-size: 30px;
    text-align: center;
    padding: 1vw 4vw;
}


.spring_description{
    background: #5066B4;
    color: white;
    border: none;
    resize: none;
}

/* PC wide */
@media screen and (min-width: 1100px) {
    .header_tool{
        /* margin-top: 2%; */
        display: block;
        height: 10%;
    
    }
    .header_tool ul{
        height: 100px;
    }

    .header_button{
        font-size: 40px;    
    }

    .container {
        width: 65%;
        padding-bottom: 15%;
        max-width: 1200px;
        /* padding-bottom: 5px; */
    }

    .springs_container{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-top:5%;
        padding-bottom: 15%;
        max-width: 1200px;
    }

    .spring_name{
        color:white;
        font-size: 22px;
        width: auto;
    }
    .spring_name::placeholder{
        color:white;
        font-size: 22px;
    }
    .springs_box1{
        width:100%;
        background: #5066B4;
        padding: 1vw 2vw;
        margin-right: 2%;
        height: 100%;
    }
    .springs_box2{
        width:70%;
        font-size: 25px;
    }
    
    .springs_box_left{
        width:40%;
        margin-right: 2%;
        height: 380px;
    }

    .spring_tab a{
        font-size:20px;
    }

    .springs_head {
        font-size: 40px;
    }
    
    .search_box{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .search_button{
        margin-top:5%;
        /* height: 200px; */
        font-size: 22px;
        border: 2px solid #000000; 
        border-radius: 20px;
        width: 100%;
        cursor: pointer;
    }
    .comment_text_blocked, .comment_text, .user_text {
        font-size: 25px;
        resize:none;
    }
    .spring_pagination{
        /* width:100%; */
        font-size: 15px;
  
    }

    .prev, .next {

        /* width: 5%; */
        margin-top:23%;

    }
    .comment_text_blocked{
        color:red;
        width: 80%;
        resize:none;
        font-size: 25px;
    }
    .intro{
        font-size: 25px;
        padding: 5vw 7vw;
    }

    .user_comment_name{
        font-size: 16px;
    }
    .user_comment_date{
        font-size: 16px;
    }

    .user_info{
        font-size: 20px;
    }


    .menu_button{
        font-size: 25px;   
    }

    .admin-bar-menu {
        font-size: 28px;
    }

    .user_input{
        display: block;
        color:white;
        height: 30px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 20px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 20px;
        font-weight: 300;
    }

    .select_drink{
        display: block;
        color:red;
        height: 30px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 20px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
    }

    .map_add_spring{
        width: 100%; 
        height:600px
    }
    

    .add_spring_label_box_labels{
        /* height: 40px; */
        font-size: 28px;
        padding-bottom: 1%;
    }
}